<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Helloworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F50529D1E33B6D400557E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5052B41E33B6D400557E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5052BF1E33B6D400557E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
